<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>InfoServlet</servlet-name>
  	<display-name>InfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.yaso.ui1.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InfoServlet</servlet-name>
  	<url-pattern>/info</url-pattern>
  </servlet-mapping>
  <ejb-ref>
  	<ejb-ref-name>ejb/Info2Service</ejb-ref-name>
  	<ejb-ref-type>Session</ejb-ref-type>
  	<home>com.yaso.ejb1.Info2ServiceHome</home>
  	<remote>com.yaso.ejb1.Info2Service</remote>
  </ejb-ref>
</web-app>
